#home {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.form-container{  
display: flex;
  flex-direction: column;
  gap: 20px;
}

#waiting-screen{
	display: none;
	 flex-direction: column;
	 text-align: center;
	   margin: 0 auto;
}
